* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background: #ffffff;
    transition: 1s;
}

.container.dark {
    background: #222;
    transition: 1s;
}